<footer class="footer-main px-5 py-5 mx-auto my-5">
  <div
    class="top-footer row row-cols-3 row-cols-lg-5 g-2 g-lg-3 justify-content-center"
  >
    <div class="about-footer col">
      <h3 class="py-2">ABOUT</h3>
      <a class="text-decoration-none" href="#"
        ><p class="small">Our Story</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Beyond Conflict Free</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Recycled Gold</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Brilliant Earth Reviews</p></a
      >
    </div>
    <div class="orders-footer col">
      <h3 class="py-2">ORDERS</h3>
      <a class="text-decoration-none" href="#"
        ><p class="small">Track Your Order</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Free 30 Days Return</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Free Shipping Both Ways</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Free Lifetime Warranty</p></a
      >
    </div>
    <div class="contact-footer col">
      <h3 class="py-2">CONTACT US</h3>
      <a class="text-decoration-none" href="#"
        ><p class="small">Live Chat</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Book Appointment</p></a
      >
      <a class="text-decoration-none" href="#"><p class="small">Stores</p></a>
      <a class="text-decoration-none" href="#"><p class="small">Email Us</p></a>
      <a class="text-decoration-none" href="#"
        ><p class="small">1-800-000-000</p></a
      >
    </div>
  </div>
  <div
    class="mid-footer row py-2 row-cols-3 row-cols-lg-5 g-2 g-lg-3 justify-content-center"
  >
    <div class="education-footer col">
      <h3 class="py-2">EDUCATION</h3>
      <a class="text-decoration-none" href="#"><p class="small">Blog</p></a>
      <a class="text-decoration-none" href="#"
        ><p class="small">Gold Buying Guide</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Ring Size Chart</p></a
      >
      <a class="text-decoration-none" href="#"><p class="small">Careers</p></a>
      <a class="text-decoration-none" href="#"
        ><p class="small">Investor Relations</p></a
      >
    </div>
    <div class="customer-service-footer col">
      <h3 class="py-2">CUSTOMER SERVICE</h3>
      <a class="text-decoration-none" href="#"><p class="small">FAQS</p></a>
      <a class="text-decoration-none" href="#"
        ><p class="small">Jewelry Financing</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Lifetime Gold Upgrade</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Promo Codes & offers</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Refer a Friend</p></a
      >
      <a class="text-decoration-none" href="#"
        ><p class="small">Accessibility</p></a
      >
    </div>

    <div class="email-signup-footer col">
      <h3 class="py-2">SIGN UP FOR EMAIL</h3>
      <p class="small">Send me GoldFinch news, updates and offers</p>

      <div class="input-group mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Your Email Address"
          aria-label="user email"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary submit-button"
          type="button"
          id="button-addon2"
        >
          &gt;
        </button>
      </div>
      <div class="social-icons">
        <a href="#" title="youtube">
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="instagram">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#" title="facebook">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="pinterest">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
        <a href="#" title="twitter">
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="#" title="linkedin">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="bottom-footer col justify-content-center px-1 text-center">
    <!-- <p>&copy;2023 GoldFinch, LLC</p> -->
    <span>&copy;2023 GoldFinch, LLC</span>
    <span><a class="text-decoration-none" href="#">Terms & Conditions</a></span>
    <span><a class="text-decoration-none" href="#">Privacy Policy</a></span>
    <span><a class="text-decoration-none" href="#">Interest Based Ads</a></span>
    <span
      ><a class="text-decoration-none" href="#"
        >Do Not Share My Personal Information</a
      ></span
    >
    <span><a class="text-decoration-none" href="#">Site Map</a></span>
  </div>
</footer>
