<footer class="footer d-flex justify-content-between">
  <div>
    <h6>
      GOLDFINCH/ <br />
      HOMEPAGE
    </h6>
    <p>About Us</p>
  </div>
  <div>
    <h6>CUSTOMER SUPPORT</h6>
    <p>My Account</p>
    <p>FAQ</p>
    <p>Sunscribe for Newsletters</p>
    <p>Contact Us</p>
    <p>Check Order Status</p>
    <p>Return Policy</p>
  </div>
  <div>
    <h6>TERMS & POLICY</h6>
    <p>Terms & Conditions</p>
    <p>Return Policy</p>
    <p>Privacy</p>
  </div>
  <div>
    <!-- <input type="text" placeholder="email address" /> -->
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Email Address"
        aria-label="Email Addres6"
        aria-describedby="button-addon2"
      />
      <button class="btn btn-dark" type="button" id="button-addon2">
        Create Account
      </button>
    </div>
  </div>
</footer>
