<section class="container-fluid header-bottom">
  <header>
    <div class="header-container">
      <div class="promo-top-bar text-center align-middle p-2">
        <p class="promo">
          Free Shipping & 30 Day Returns &nbsp; &#9671; &nbsp;<a href="#"
            >Book a Virtual Appointment</a
          >
        </p>
      </div>
      <div class="row text-center mid-bar">
        <div class="col-6">1-800-000-000</div>
        <div class="col-6">
          <div class="row text-right g-auto">
            <div class="col">
              <a href="#"><i class="fa fa-search fa-sm"></i></a>
            </div>
            <div class="col"><a href="/signup.html">Create Account</a></div>
            <div class="col"><a href="/signin.html">Sign In</a></div>
            <div class="col">
              <a href="#"><i class="fa fa-cart-shopping fa-sm"></i></a>
            </div>
            <div class="col">
              <select name="currency" id="curr">
                <option
                  value="cad"
                  selected="selected"
                  data-img_src="https://flagcdn.com/48x36/ca.png"
                >
                  🇨🇦&emsp;CAD
                </option>
                <option
                  value="usd"
                  data-img_src="https://flagcdn.com/48x36/us.png"
                >
                  🇺🇸&emsp;USD
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="goldfinch-logo text-center align-items-center">
        <p>
          <a href="/index.html" class="text-decoration-none logo">GOLDFINCH </a>
        </p>
      </div>
    </div>
  </header>
  <nav class="navbar-expand-lg d-flex justify-content-center">
    <ul class="navbar-nav nav-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#shop_by_category">SHOP BY CATEGORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#shop_by_metal">SHOP BY METAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#shop_by_gemstones">SHOP BY GEMSTONES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">SHOP BY PRICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#shop_by_occasion">SHOP BY OCCASION</a>
      </li>
    </ul>
  </nav>
</section>
