<header>
  <div class="d-flex flex-row justify-content-between my-3 px-5">
    <div>
      <a href="#"
        ><i class="fa-solid fa-magnifying-glass fa-xl text-dark"></i
      ></a>
      <a href="#"
        ><i class="fa-solid fa-cart-shopping fa-xl text-dark mx-2"></i
      ></a>
    </div>
    <div>
      <a href="./signin.html" class="text-dark text-decoration-none"
        >Sign In <span> | </span>
      </a>
      <a href="./signup.html" class="text-dark text-decoration-none"
        >Create Account <span> | </span>
      </a>
      <a href="#" class="text-dark text-decoration-none">Track Order</a>
    </div>
  </div>
  <div class="logo d-flex justify-content-center">
    <a href="/" class="text-decoration-none" style="color: #b76e79"
      >GOLDFINCH ⭐️</a
    >
  </div>
  <div class="d-flex justify-content-between header-categories">
    <p class="mt-2">Engagment & Weddings</p>
    <p class="mt-2">Earrings</p>
    <p class="mt-2">Necklaces and Pendants</p>
    <p class="mt-2">Braceletes & Bangles</p>
    <p class="mt-2">Watches</p>
    <p class="mt-2">Customize</p>
  </div>
</header>
