.header-commands {
  color: black;
}

.logo {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 40px;
  color: #b76e79;
  font-weight: bold;
}

.header-categories {
  background-color: #b76e79;
  color: white;
  border-radius: 8px;
  padding: 0 36px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  line-height: 97.5%;
  font-weight: 400;
  background-color: #b76e79;
  color: #ffffff;
}

.top-text {
  font-family: "Blnker", sans-serif;
  font-size: 16px;
  line-height: 97.5%;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}


