.promotions {
    background-color: #D9D9D9;
    
}

.promotion-text {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
    line-height: 97.5%;
    color: #000000;
}

.border-change {
    border-radius: 60px;
}

.shop-categories {
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    line-height: 97.5%;
    text-decoration: underline;
}

.categories a, .top-promo{
    font-family: "Blinker", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 97.5%;
    text-decoration: none;
}

img {
    border-radius: 48px;
}

.top-promo {
    position: absolute;
}